<!-- Twitter cards -->
<meta name="twitter:site"    content="@mrry">
<meta name="twitter:creator" content="@mrry">
<meta name="twitter:title"   content="{{ page.title }}">

{% if page.summary %}
<meta name="twitter:description" content="{{ page.summary }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}

{% if page.image %}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
{% endif %}
<!-- end of Twitter cards -->
